body{
    margin: 0;
    display:flex;
    justify-content: center;
    background-color: lightgreen;
    text-align: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.form {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    border-radius: 10px;
    margin: 5px;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    border: solid green 5px;
    color: green
}
.input::placeholder{
    color: lightgray;
    font-family: sans-serif;
}
.btn{
    background-color: green;
    color: white;
    display: block;
    border: none;
    width:100%;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 20px 0px 10px; /*top right bottom left*/
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    cursor: pointer;
}
.btn:hover {
   filter: brightness(0.9); /*adds the darkness to button when hovered */
}
.score{
    color:green;
    text-align: right;
}